.payment-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Garante que o modal fique na frente de outros elementos */
}

.payment-modal {
    background-color: var(--primary-brown);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-title {
    margin-bottom: 15px;
    color: white;
    font-weight: 400;
}

.modal-message {
    margin-bottom: 20px;
    color: var(--primary-orange);
}

.link-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.picpay-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-orange);
    /* Cor tema do PicPay (exemplo) */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.picpay-link:hover {
    background-color: #ed5b00b2;
}

.copy-button {
    padding: 10px 15px;
    background-color: white;
    /* Cor azul (exemplo) */
    color: var(--primary-brown);
    border: 1px solid var(--primary-brown);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: var(--primary-brown);
    color: white;
}

.close-button {
    margin-top: 20px;
    padding: 8px 15px;
    background-color: white;
    color: var(--primary-brown);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 50%;
}

.close-button:hover {
    background-color: var(--primary-brown);
    color: white;
}

.content-modaL-text-logo-b {
    color: white;
    font-weight: 900;
}

.content-modaL-text-logo-c {
    color: var(--primary-orange);
    font-weight: 900;

}

