.header {
    padding: 10px;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 23px;
}

.logoBrasil {
    color: white;
}

.logoCacau {
    color: var(--primary-brown);
}

.ico-lock-header-check {
    display: flex;
    justify-content: end;
    padding: 0px 65px;
    margin-top: -35px;

    img {
        width: 22px;
        height: 22px;
    }
}

.text-lock-header-check {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .ico-lock-header-check {
        margin-right: -60px;
        margin-top: -31px;
    }

    .text-lock-header-check {
        font-size: small;
        display: flex;
        justify-content: center;
        margin-top: 3px;
    }

    .logoContainer {}
}