footer {
    overflow: hidden;
}

.newsletter-section,
.social-section,
.institutional-section {
    background-color: var(--primary-orange);
    padding: 5px 410px;
    overflow: hidden;
}

.footer .cookie-logo-br-footer {
    color: white;
    font-size: 22px;
    font-weight: 900;
    font-family: var(--secondary-font);
    margin-top: -54px;
}

.cookie-logo-ca-footer {
    color: rgb(99, 37, 30);
    font-size: 22px;
    font-weight: 900;
    font-family: var(--secondary-font);
    margin-top: -41px;
}

.social-section {
    display: flex;
    justify-content: end;
}

.social-icon {
    width: 25px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: -106px;
}

.social-icon-youtube {
    width: 25px;
    margin-right: 5px;
    margin-top: -95px;
    margin-left: 10px;
}

.content-logo-footer {
    display: grid;
    line-height: 25px;
}

.newsletter-title {
    font-family: var(--secondary-font);
    color: white;
}

.newsletter-button {
    background-color: var(--primary-brown);
    color: white;
    width: 274px;
    height: 44px;
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 600;
    border: none;
    margin-left: 15px;
}

.newsletter-button:hover {
    background-color: #A0522D;
}

.institutional-links {
    display: grid;
    grid-column-gap: 45px;
    grid-template-columns: repeat(6, auto);
    font-family: var(--secondary-font);
}

.institutional-links a {
    text-decoration: none;
    color: white;
}

.institutional-title {
    color: white;
    font-family: var(--secondary-font);
    font-weight: bold;
}

.newsletter-input {
    width: 282px;
    height: 44px;
    border: none;
    font-family: var(--secondary-font);
    color: gray;
    margin-right: 10px;
}

/* Media Queries para Responsividade */


.payment-section {
    display: flex;
    padding: 50px 408px;
}

.payment-title {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    font-family: var(--secondary-font);
    color: var(--primary-brown);
    font-weight: 500;
    margin-top: 0px;
}

.payment-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 12px;
}

.payment-ico {
    margin-right: 25px;
}

.payment-info {
    display: flex;
    justify-content: end;
    margin-left: 152px;
}

.bar-content {
    border: none;
    height: 1px;
    background-color: #545454;
    display: flex;
    justify-content: center;
    width: 150vh;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-top: 122px;
    position: absolute;
    margin-left: -155px;
    overflow: hidden;
}

.company-info {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 407px;
    width: 190vh;
    text-align: center;
    font-size: small;
}

/* Barra com margem menor */
.bar-content.small-margin {
    margin: 10px 0;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .newsletter-section,
    .social-section,
    .institutional-section {
        padding: 5px 20px;
        /* Reduz o padding em telas menores */
    }

    .institutional-links {
        grid-template-columns: repeat(3, auto);
        /* Reduz as colunas em telas menores */
        grid-row-gap: 10px;
        /* Adiciona espaço entre as linhas */
    }
}

@media (max-width: 768px) {

    .newsletter-section,
    .social-section,
    .institutional-section {
        padding: 10px;
        /* Reduz ainda mais o padding em telas menores */
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        /* Organiza os inputs e botão em coluna */
    }

    .newsletter-input,
    .newsletter-button {
        width: 100%;
        /* Inputs e botão ocupam a largura total */
        margin: 5px 0;
        /* Adiciona margem entre os elementos */
    }

    .institutional-links {
        grid-template-columns: repeat(2, auto);
        /* Reduz ainda mais as colunas */
    }

    .social-section {
        justify-content: center;
        /* Centraliza os ícones sociais */
    }
}

@media (max-width: 480px) {
    .institutional-links {
        grid-template-columns: 1fr;
        /* Uma coluna em telas muito pequenas */
    }

    .footer .cookie-logo-br-footer {
        margin-top: 0px;
        margin-left: -118px;
        font-size: 25px;
        font-weight: 900;

    }

    .cookie-logo-ca-footer {
        margin-left: -118px;
        margin-top: -2px;
        font-size: 25px;
        font-weight: 900;
    }

    .social-icon {
        margin-top: 14px;
    }

    .social-icon-youtube {
        margin-top: 16px;
    }

    .content-logo-footer {
        margin-left: 130px;
    }

    .newsletter-button {
        font-size: 17px;
    }

    .payment-title {
        margin-left: -239px;
        margin-bottom: 15px;
    }

    .security-seal {
        position: absolute;
        left: 10px;
        margin-top: 23px;
        display: none;
    }

    .company-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5vh;
    }

    .company-text {
        margin: 0;
        margin-left: 0px;
        justify-content: center;
        display: flex;
        margin-left: -396px;
        text-wrap: auto;
        width: 365px;
        text-align: left;
        overflow: hidden;
    }

    .bar-content {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-left: 0%;
    }

    .social-section {
        height: 10vh;
    }

}


.payment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.institutional-arrow {
    font-size: 1.2em;
    color: var(--primary-brown);
}

/* Estilos para Mobile */
@media (max-width: 768px) {
    .institutional-links {
        /* display: none; */
        /* Esconde os links por padrão no mobile */
    }

    .institutional-section {
        margin-bottom: 20px;
        background-color: white;
    }

    .institutional-title {
        color: var(--primary-brown);

    }

    .institutional-links {
        a {
            color: black;
            font-weight: lighter;
            margin-top: 6px;
        }
    }

    .payment-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    .content-social-icons {}
}

/* Estilos para quando a seção está aberta */
.institutional-links.open {
    display: grid;
    /* Mostra os links quando a seção está aberta */
}