@media (max-width: 768px) {
    .search-input-mobile {
        display: block !important;

    }

    .nav-link {
        display: none !important;
    }
}

.content-home-page {
    background-color: var(--primary-gray);
}