.content-header-check {
    font-family: var(--secondary-font) !important;
}

.cart-content-title {
    padding: 15px;
    color: var(--primary-brown);
    font-family: var(--secondary-font);
    font-size: 22px;
}

.cart-price {
    font-weight: 900;
    color: var(--primary-brown);
}